<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRIME_DL</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        .navbar-default {
            background: linear-gradient(to top, #ff8080, #ffe5e5); /* Standard syntax */
            color: black;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home.html">CRIME_DL</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="active"><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="login.html"><i class="fa fa-sign-in fa-fw"></i> Login as Admin</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 100px">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>About</h4>
            <p>
                Due process rights which exists in some form in most Constitutions of the world, and which are
                recognized as a key pillar of International Human Rights Law, largely depend on clear,
                unambiguous and accessible laws.
                Criminal laws are central in this regard since the related rights and privileges emerge from the
                existence of what is recognized as an offence in a particular jurisdiction. The observance of
                these laws depends on a citizen’s awareness of the existence of that offence.
                Read more …
            </p>
            <hr>
            <h4>How To Use</h4>
            <p>
                This web based application consists of ALL known criminal offences in Kenya for which one may be arrested. In order to enhance legal research and jurisprudence around  the offences, the application from time to time attempts to synchronize each of the offences with relevant cases. Order to remain relevant and useful, all the information is up to date with legislation in as much as new offences are created.
                One may search under an Act of Parliament, under a specific theme/profession/category, or may peruse through the offences alphabetically. Each offence displays the penalty.
                Read more …
            </p>
        </div>
    </div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>